	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		
<div class="padding scroll">

    <div class="padding about-us-box">
        <h2>Laundry Service</h2>
        <div>
            Created using Page Builder -&gt; Eazy Setup Membership
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/groups/')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/anaski')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('http://twitter.com/jasmanxcrew')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://jasman@ihsana.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: jasman@ihsana.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
